/* Variables */
:root {
    --background-color: #f5f5f0;
    --text-color: black;
    --box-background-color: #fff;
    --chart-background-color: #fff;
    --counters-title-font-size: 20px;
    --counters-mainNumber-font-size: 47px;
    --counters-smallNumber-font-size: 16px;
    --counter-width: 280px;
    --counter-margin: 6px;
    --h1-font-size: 40px;
    --h2-font-size: 24px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('fonts/ibm-plex-sans-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/ibm-plex-sans-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

a {
    color: var(--text-color);
}

/* Colors */
.orange {
    color: #c48208;
}
.darkGray {
    color: #2e2e2e;
}
.lightGray {
    color: #929292;
}
.green {
    color: #008000;
}
.blue {
    color: #195497;
}
.red {
    color:#ff0000;
}

/* Section titles */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 13px;
}

/* Counters */
#counters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc((var(--counter-width) + var(--counter-margin) * 2) * 3);
    margin: 0 auto;
}
.counter {
    width: var(--counter-width);
    background-color: var(--box-background-color);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 8px;
    margin: var(--counter-margin);
    text-align: center;
    padding: 12px 0;
}
.counter .title {
    font-size: var(--counters-title-font-size);
    font-weight: bold;
    display: block;
}
.counter p {
    margin: 4px 0 0 0;
}
.counter .mainNumber {
    font-size: var(--counters-mainNumber-font-size);
    line-height: var(--counters-mainNumber-font-size);
    margin: 6px 0;
    font-weight: bold;
}
.counter .percentage {
    margin-left: 5px;
}
.counter .smallNumber {
    font-size: var(--counters-smallNumber-font-size);
}

/* Ultimo aggiornamento */
#aggiorna p {
    margin-top: 11px;
}

/* Notifiche */
.boxNotifica {
    text-align: center;
    width: max-content;
    margin: 10px auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 8px;
    color: black;
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;
    max-width: 80%;
    padding: 3px 5px;
}

.disiscriviti {
    background-color: transparent;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 8px;
    color: black;
    margin: 10px auto;
    font-size: 20px;
    padding: 3px 5px;
}

.boxNotifica span {
    text-decoration: underline;
}

/* Regions/provinces map */
.mapContainer {
    position: relative;
}

#maps {
    z-index: 1;
}
.chartSelection {
    display: flex;
    flex-direction: column;
}
.territorySelection, .regionSelection, .provinceSelection, .restrictionsSelection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#zonesInfo {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#zonesInfo p{
    margin: 5px 0;
}

.choice {
    cursor: pointer;
    user-select: none;
    margin: 5px;
    color: #000;
    background-color: #fff;
    padding: 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.mapContainer *, .restrictionsContainer * {
    margin: 0 auto;
}
#map, #zones * {
    max-width: 400px;
    width: 100%;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: fit-content;
}

/* Restrictions calendar */
#calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}
.dayContainer {
    width: 50px;
    padding: 10px 10px 5px 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    background-color: var(--box-background-color);
    border-radius: 20px;
    margin: 5px;
}
.day {
    margin-bottom: 7px;
    color: #000;
}
.dayContainer img {
    width: 100%;
}

/* Chart */
.chart {
    margin: 10px auto;
    max-width: 700px;
    background-color: var(--chart-background-color);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 8px;
}

.chart h2 {
    padding-top: 5px;
}

.chartContainer {
    height: 100vh;
    max-height: 400px;
}

/* Footer */
footer {
    font-size: 16px;
    margin-top: auto;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
    max-width: 850px;
    margin: 0 auto;
}

footer p {
    margin: 5px;
}

.contatti {
    margin: 15px 0;
}

/* Pulsanti social */
#socialBox {
    z-index: 0;
    background-color: #fff;
    width: 90%;
    max-width: 460px;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 20px;
    color: #000;
    padding: 10px;
}
#socialBox a {
    color: #000;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social div {
    margin: 1px 2px;
}

.socialOverlay {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.86);
    color: #000000;
    padding: 10px 0;
    height: 39px;
    z-index: 3;
}

.consiglialo {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    font-size: 23px;
}

/* Social */
.linkSocial {
    margin-bottom: 10px;
}
.linkIcona {
    font-size: 23px;
    display: inline;
}

.linkIcona img {
    height: 28px;
    padding-right: 9px;
    vertical-align: middle;
}
#socialBox .st-total, .socialOverlay .st-total {
    color: #000 !important;
}

@media (max-width: 768px) {
    :root {
        --counters-title-font-size: 18px;
        --counters-mainNumber-font-size: 35px;
        --counters-smallNumber-font-size: 15px;
        --counter-width: 172px;
        --counter-margin: 4px;
        --h1-font-size: 30px;
    }
}

@media (min-width: 750px) {
    #regioni {
        font-size: 24px;
    }
    #nota {
        font-size: 24px;
    }
    .video-container {
        max-width: 500px;
    }
}

@media (max-width: 354px) {
    .choice {
        font-size: 14px;
    }
}

.notaDecremento {
    max-width: 600px;
    margin: 10px auto 10px auto;
}