body, h1, h2 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Titolo */

.titolo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

.live {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
    display: none;
    animation: live 1.5s infinite;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.sottotitolo {
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 40px 0 20px 0;
}

/* Numeri situazione */

.situazione {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.situazione > div {
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 20px;
    text-align: center;
}

.confermati {
    color: #c48208;
}

.morti {
    color: #ff0000;
}

.guariti {
    color: #008000;
}

.caso h2 {
    padding-top: 10px;
}

.numeroitalia {
    font-size: 100px;
    display: block;
}

.percmondiale {
    padding: 0 0 10px 0;
    display: block;
}

/* Tabella regioni */

.regioni {
    margin: 0 auto;
    text-align: center;
    font-size: 4vw;
    width: 80%;
    max-width: 1000px;
    border-collapse: collapse;
    overflow-x: scroll;
}

.regioni, .regioni td {
    border: 1px solid #ffffff;
}

/* Facebook */

.facebook a {
    color: white;
    font-size: 28px;
}

/* Notizie */

.notizie {
    text-align: center;
    font-size: 20px;
}

.notizie a {
    text-decoration: underline;
    color: #b84826;
    transition: color 0.5s;
}

.notizie a:hover {
    color: #ffffff;
}

/* Footer */

footer {
    font-size: 20px;
    margin-top: auto;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
}

footer p {
    margin: 5px;
}

footer a {
    color: white;
}

/* Pulsanti social */

.social {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.86);
    color: #000000;
}

.social div {
    padding: 0 10px;
}

/* Live animation */

@keyframes live {
    0% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }
    65% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media screen and (min-width: 750px) {
    .live {
        display: block;
    }
    .regioni {
        font-size: 30px;
    }
    .social {
        background-color: transparent;
    }
}