* {
    -webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    text-align: center;
}

a {
    color: #ffffff;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* Titolo */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

h1 {
    font-size: 37px;
    text-align: center;
}

.liveDot {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
    display: none;
    animation: liveDot 1.5s infinite;
}

/* Live animation */
@keyframes liveDot {
    0% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }
    65% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* Numeri totali */
#totali {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.totale {
    width: 340px;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 4px;
    text-align: center;
    padding: 10px 0;
}
.totale span {
    display: block;
}
.spanTotaleTitolo {
    font-size: 22px;
    font-weight: bold;
}
.spanTotaleNumero {
    font-size: 63px;
    line-height: 63px;
}

.positivi {
    color: #c48208;
}
.morti {
    color: #ff0000;
}
.guariti {
    color: #008000;
}
.tamponi {
    color: #929292;
}

/* Sezione aggiorna */
#pulsanteAggiorna {
    cursor: pointer;
    margin: 0 auto;
    font-size: 24px;
    text-decoration: underline;
    user-select: none;
}
#ultimoControllo {
    display: none;
}

/* Breaking news */	
#testo {	
    max-width: 600px;	
    text-align: center;	
    margin: 10px auto 0 auto;
    padding: 10px 10px 10px 0;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    margin: 0 auto;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.allegato {
    display: inline-block;
    margin: 12px auto 0 auto;
    font-size: 19px;
}

/* Notifiche */
.boxNotifica {
    text-align: center;
    width: max-content;
    margin: 30px auto 10px auto;
    background-color: white;
    color: black;
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;
    max-width: 80%;
}

.disiscriviti {
    background-color: transparent;
    color: #ffffff;
    margin: 10px auto;
    font-size: 20px;
    text-decoration: underline;
}

.boxNotifica span {
    text-decoration: underline;
}

/* Box aggiornamenti live */
.aggiornamentiLive {
    padding-top: 10px;
}

.linkIcona {
    font-size: 23px;
    display: inline;
}

.linkIcona img {
    height: 28px;
    padding-right: 9px;
    vertical-align: middle;
}

/* Social */
.linkSocial {
    margin-bottom: 10px;
}

/* Mappa regioni/province */
.mapContainer {
    position: relative;
}

#maps {
    z-index: 1;
}
.chartSelection {
    display: flex;
    flex-direction: column;
}
.territorySelection, .regionSelection, .provinceSelection {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.choice {
    cursor: pointer;
    user-select: none;
    margin: 5px;
    background-color: #fff;
    color: #000;
    padding: 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#maps canvas {
    max-width: 400px;
    margin: 0 auto;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: fit-content;
}

/* Grafico */
.grafico h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

.containerGrafico {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
    max-width: 700px;
    max-height: 400px;
    margin: 0 auto;
    background-color: #303030;
    margin-top: 5px;
}

/* Footer */
footer {
    font-size: 16px;
    margin-top: auto;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
    max-width: 850px;
    margin: 0 auto;
}

footer p {
    margin: 5px;
}

.contatti {
    margin: 15px 0;
}

/* Pulsanti social */
#socialBox {
    z-index: 0;
}
.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social div {
    margin: 1px 2px;
}

.socialOverlay {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.86);
    color: #000000;
    padding: 10px 0;
    height: 39px;
    z-index: 3;
}

.socialFissi {
    color: #ffffff;
}

.consiglialo {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    font-size: 23px;
}

@media screen and (min-width: 750px) {
    #regioni {
        font-size: 24px;
    }
    #nota {
        font-size: 24px;
    }
    .video-container {
        max-width: 500px;
    }
}

@media (max-width: 354px) {
    .choice {
        font-size: 14px;
    }
}

.notaDecremento {
    max-width: 600px;
    margin: 10px auto 10px auto;
}